$mainColor: #606c38;
$subColor: #edede9;

header {
  display: flex;
  background-color: $mainColor;
  color: white;
  text-align: center;
  align-items: center;
  height: 13vh;
  width: 100%;
  z-index: 100;
}
