* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0 20px 100px 20px;
}

header {
  display: flex;
  background-color: #606c38;
  color: white;
  text-align: center;
  align-items: center;
  height: 13vh;
  width: 100%;
  z-index: 100;
}

.flex {
  display: flex;
}

h2 {
  display: inline-block;
  border-bottom: 5px solid #3c6e71;
}

small {
  margin-left: 15px;
  font-size: 17px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 29px;
  font-weight: bold;
  margin-left: 20px;
}

footer {
  display: flex;
  background-color: #606c38;
  color: #fff;
}
footer ul {
  list-style: none;
  display: flex;
}

nav {
  margin: 0 30px 0 auto;
}

.nav-menu {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.nav-link {
  width: 100px;
  margin: 1px 0;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 7px;
  background-color: #606c38;
}
.nav-link a {
  display: block;
  font-size: 0.9rem;
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
}
.nav-link a:hover {
  color: #3c6e71;
  background-color: #edede9;
  border-radius: 6px;
}

#menu-btn {
  display: none;
  position: absolute;
  right: 10px;
  background: white;
  padding: 1rem;
  z-index: 100;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.flex {
  display: flex;
}

@media screen and (max-width: 736px) {
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  .menu-btn:checked ~ .menu a, .menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }
  .menu-icon {
    display: inline-block;
    position: relative;
    margin: 0 10px 0 auto;
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    margin-top: 7px;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .menu-btn:checked + .menu-icon .navicon:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .menu-btn:checked + .menu-icon .navicon:nth-child(2) {
    opacity: 0;
  }
  .menu-btn:checked + .menu-icon .navicon:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  .menu-btn:checked ~ #global-nav {
    display: block;
  }
  #global-nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 90px;
    left: 0;
    margin: 0 auto 0 0;
    margin-left: 0;
    padding-left: 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  .nav-menu {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-link {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 0;
  }
  .nav-link a {
    display: block;
    font-size: 0.8rem;
    letter-spacing: 0.12em;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
  }
  .nav-link a:hover {
    border-radius: 0;
  }
}
.profile-section,
.plan-section,
.link-section,
.faq-section,
.yell-section {
  margin: 0 20px;
}

.profile-plate p {
  display: inline-block;
  background-color: #606c38;
  color: #fff;
  font-size: 1.3rem;
  padding: 5px 24px;
  border: 1px solid #000;
  margin: 0 auto;
}

.profile-career {
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
}
table th {
  color: #fff;
  padding: 10px 0;
  background-color: #606c38;
  border: 1px solid #000;
}
table td {
  border: 1px solid #000;
}

@media (min-width: 737px) {
  th {
    width: 25%;
  }
  td {
    width: 75%;
    padding-left: 20px;
  }
}
@media (max-width: 736px) {
  th, td {
    display: block;
    width: 100%;
    text-align: center;
  }
  .skill-list {
    justify-content: center;
    text-align: center;
  }
}
.about-box {
  display: flex;
  gap: 30px;
  margin: 10px 0;
}

.about-box-text {
  width: 100%;
  margin-left: 150px;
  border-radius: 5px;
}

.profile-image {
  width: 50%;
}
.profile-image img {
  width: 100%;
  border-radius: 50%;
  margin-left: 100px;
  border: 1px solid #000;
}

.v_line_left {
  border-left: 2px solid #606c38;
  padding-left: 10px;
}
.v_line_left div {
  position: relative;
}
.v_line_left div span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px #606c38;
  position: absolute;
  top: 4%;
  left: -14.2px;
  transform: translateY(-50%);
  background: #606c38;
}

.career_project {
  display: flex;
  gap: 50px;
}
.career_project img {
  width: 420px;
}

@media screen and (max-width: 736px) {
  .career_project {
    display: block;
  }
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  align-items: center;
}

.html-logo img {
  width: 40px;
  height: 41.5px;
}

.css-logo img {
  width: 30px;
}

.js-logo img {
  width: 40px;
}

.php-logo img {
  width: 60px;
  height: 50px;
}

.laravel-logo img {
  width: 50px;
}

.github-logo img {
  width: 70px;
  height: 43px;
}

@media screen and (max-width: 736px) {
  .about-box {
    display: block;
  }
  .profile-image {
    width: 100%;
  }
  .profile-image img {
    margin-left: 0;
  }
  .about-box-text {
    margin: 0;
    margin-top: 30px;
  }
}
.project-box {
  display: flex;
  justify-content: space-around;
}

.project-group {
  display: flex;
  background-color: #edede9;
  border-radius: 5px;
  border: 1px solid #000;
  margin-top: 10px;
  width: 100%;
  height: 80px;
}
.project-group img {
  height: 50px;
  margin-left: 15px;
}
.project-group p {
  font-size: 0.8rem;
  margin-left: 20px;
  width: 70%;
}
.project-group a:hover {
  background-color: #dcdcd8;
}

.w-30 {
  width: 30%;
}

@media screen and (max-width: 736px) {
  .project-box {
    display: block;
  }
  .sp-w {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
  }
}
@media screen and (max-width: 412px) {
  .project-group {
    width: 314px;
    margin: 10px;
  }
  .project-qa-group {
    margin: 0;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeIn 0.3s ease;
          animation: fadeIn 0.3s ease;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hobby-slide_area {
  margin: 20px 0;
  padding: 20px;
  background-color: #edede9;
  border-radius: 5px;
}

.swiper-container {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.swiper-slide img {
  width: 80%;
  height: 80%;
  border-radius: 2px;
}

.img-text {
  font-size: 13px;
  color: #333;
}

.hobby-text {
  display: flex;
  justify-content: center;
}

.project-title {
  width: 200px;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  background-color: #8ba48d;
  border: 1px solid #3c6e71;
}

.project-link {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
}

#project-details ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
#project-details ul li {
  list-style: none;
  margin: 5px 0;
}
#project-details ul li span {
  background-color: #caf0f8;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 2px 5px;
  margin-right: 10px;
}

.plan-list {
  border: 1px solid #edede9;
  border-radius: 10px;
  background-color: #edede9;
  padding: 0 30px;
  margin: 30px 0;
}
.plan-list h3 {
  display: inline-block;
  background-color: #FFF;
  padding: 10px 20px;
  border-radius: 3px;
  color: #606c38;
}
.plan-list h3 > span {
  font-size: 0.9rem;
  position: relative;
  top: -2px;
  color: #fff;
  background-color: #606c38;
  border-radius: 3px;
  padding: 3px 5px;
  margin-right: 10px;
}

.attention-text {
  display: inline-block;
  width: auto;
  color: #fff;
  background-color: #ffb3c1;
  padding: 1px 10px;
  font-size: 0.8rem;
  border-radius: 3px;
}

.link-all {
  display: flex;
  flex-wrap: wrap;
}

.link-box {
  position: relative;
  border: 1px solid #bbb;
  border-radius: 10px;
  background-color: white;
  margin: 10px 5px;
}
.link-box a {
  text-decoration: none;
}
.link-box img {
  opacity: 0.5;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #000;
  width: 200px;
  height: 130px;
}

.img-on-text {
  position: absolute;
  top: 40px;
  left: 50px;
  color: #101010;
}

.link-text {
  text-align: center;
  color: #3c6e71;
  font-size: 0.8rem;
}

.production-pop {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-box {
  background: white;
  margin: auto;
  margin-top: 200px;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeIn 0.3s ease;
          animation: fadeIn 0.3s ease;
}
.pop-box img {
  width: 150px;
}

@media screen and (max-width: 736px) {
  .link-all {
    display: flex;
    flex-wrap: wrap;
  }
  .link-box {
    position: relative;
    max-width: 200px;
    margin-top: 20px;
  }
  .pop-box {
    width: 80%;
  }
}
details {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5em;
  margin: 10px 0;
}
details summary {
  font-weight: bold;
  margin: 0 -0.5em;
  padding: 0.5em;
  cursor: pointer;
}
details p {
  padding-left: 20px;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #000;
  margin-bottom: 0.5em;
}

.yell-section p {
  display: inline-block;
  background: linear-gradient(transparent 60%, #ffd60a 40%);
  margin: 0;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1.5s;
}
.yell-section p.on {
  background-size: 100% 100%;
}

form label {
  display: inline-block;
  margin: 2px 0;
}
form textarea {
  margin: 2px 0;
  width: 80%;
  height: 100px;
}

.submit {
  padding: 5px 30px;
  background-color: #606c38;
  border: 1px solid #606c38;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.slideConts {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease, transform 2s ease;
}

.slideConts.active {
  opacity: 1;
  transform: translateY(0);
}
/*# sourceMappingURL=style.css.map */